
i:hover{color:#22e07d !important}
a:hover{color:#22e07d !important;}

    #navbar_links a:hover {
        color:#22e07d !important;
    }

#navbar a:hover{
    color:#22e07d !important;
}

    #logo:hover{
        color:#22e07d !important;
        
    }
#intro_text h1{
    border-top:3px solid #22e07d !important;
    border-bottom:3px solid #22e07d !important;
    color:#22e07d !important;
}
#intro_button i{
        color:#22e07d !important;
}

#change_color div a:nth-of-type(1){background-color:#f14f2b;}
#change_color div a:nth-of-type(2){background-color:#2bc1f1 !important;}
#change_color div a:nth-of-type(3){border:2px solid black;background-color:#22e07d;}


#content_div div{
    border: 2px solid #22e07d !important;
}
#content_div div:nth-of-type(1):before {
    border-bottom: 7px #22e07d solid !important;
}
#content_div div:nth-of-type(1){width:auto;margin-left:9.5%;margin-top:-7px;}

#content div .contentt {
    background: #22e07d;
}


#views_likes #likes i:hover{
    cursor:pointer;
    color:#22e07d !important;
}
span{
    color:#22e07d !important;
    font-size:40px;
    font-family:Chiller;
}

        #work a:nth-of-type(2){
            background:#2c9df1;
        }
    #navbar_links {
        border: 1px solid #22e07d !important;
    }